{
  "openapi": "3.0.1",
  "info": {
    "title": "Ampersand public API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.withampersand.com/v1"
    }
  ],
  "paths": {
    "/oauth-connect": {
      "post": {
        "operationId": "oauthConnect",
        "summary": "Get URL for OAuth flow",
        "description": "Generate a URL for the browser to render to kick off OAuth flow.",
        "tags": [
          "OAuth"
        ],
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "projectId",
                  "groupRef",
                  "consumerRef",
                  "provider"
                ],
                "properties": {
                  "providerWorkspaceRef": {
                    "type": "string",
                    "description": "The identifier for the provider workspace",
                    "example": "salesforce-instance-domain"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "The Ampersand project ID."
                  },
                  "groupRef": {
                    "type": "string",
                    "description": "The ID that your app uses to identify the group of users for this Connection, this can be an Org ID, workspace ID, etc."
                  },
                  "groupName": {
                    "type": "string",
                    "description": "The display name for the group. Defaults to groupRef if not provided."
                  },
                  "consumerRef": {
                    "type": "string",
                    "description": "The ID that your app uses to identify the user whose SaaS credential will be used for this OAuth flow."
                  },
                  "consumerName": {
                    "type": "string",
                    "description": "The display name for the consumer. Defaults to consumerRef if not provided."
                  },
                  "providerAppId": {
                    "type": "string",
                    "description": "ID of the provider app (e.g. Salesforce connected app), returned from a CreateProviderApp call. If omitted, the default provider app that was set up on the Ampersand Dashboard is assumed."
                  },
                  "provider": {
                    "type": "string",
                    "description": "The provider that this app connects to.",
                    "example": "salesforce"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "URL to render"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "allOf": [
                        {
                          "description": "A Problem Details object (RFC 9457).\n\nAdditional properties specific to the problem type may be present.\n",
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "format": "uri",
                              "description": "An absolute URI that identifies the problem type",
                              "default": "about:blank"
                            },
                            "href": {
                              "type": "string",
                              "format": "uri",
                              "description": "An absolute URI that, when dereferenced, provides human-readable documentation for the problem type (e.g. using HTML)."
                            },
                            "title": {
                              "type": "string",
                              "description": "A short summary of the problem type. Written in English and readable for engineers (usually not suited for non technical stakeholders and not localized).",
                              "example": "Service Unavailable"
                            },
                            "status": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                              "minimum": 400,
                              "maximum": 600,
                              "exclusiveMaximum": true,
                              "example": 503
                            },
                            "detail": {
                              "type": "string",
                              "description": "A human-readable explanation specific to this occurrence of the problem"
                            },
                            "instance": {
                              "type": "string",
                              "format": "uri",
                              "description": "An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."
                            }
                          },
                          "example": {
                            "type": "urn:problem-type:exampleOrganization:exampleProblem",
                            "href": "https://www.belgif.be/specification/rest/api-guide/#standardized-problem-types",
                            "title": "Description of the type of problem that occurred",
                            "status": 400,
                            "detail": "Description of specific occurrence of the problem",
                            "instance": "urn:uuid:123e4567-e89b-12d3-a456-426614174000"
                          }
                        }
                      ],
                      "properties": {
                        "subsystem": {
                          "type": "string",
                          "description": "The subsystem that generated the problem",
                          "example": "api"
                        },
                        "time": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The time the problem occurred, formatted as RFC-3339",
                          "example": "2024-04-22T18:55:28.456076Z"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "A unique identifier for the request, useful for debugging",
                          "example": "89eb1ffb-2a54-4105-aaae-7bf990f1aa69#87715"
                        },
                        "causes": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "A brief description of something which caused the problem",
                            "example": "database connection failed"
                          },
                          "example": [
                            "database connection failed",
                            "database query failed",
                            "unable to fetch user"
                          ],
                          "description": "A list of problems that caused this problem. This can be used to represent multiple\nroot causes. There is no guaranteed ordering of the causes.\n"
                        },
                        "remedy": {
                          "type": "string",
                          "description": "A brief description of how to resolve the problem",
                          "example": "Shorten your input to be under 100 characters"
                        },
                        "supportEmail": {
                          "type": "string",
                          "format": "email",
                          "description": "An email address to contact for support",
                          "example": "support@withampersand.com"
                        },
                        "supportPhone": {
                          "type": "string",
                          "description": "A phone number to contact for support",
                          "example": "+1-555-555-5555"
                        },
                        "supportUrl": {
                          "type": "string",
                          "format": "uri",
                          "description": "A URL to contact for support",
                          "example": "https://withampersand.com/support"
                        },
                        "retryable": {
                          "type": "boolean",
                          "description": "Whether the request can be retried",
                          "example": false
                        },
                        "retryAfter": {
                          "type": "string",
                          "format": "date-time",
                          "description": "A timestamp after which the request can be retried, formatted as RFC-3339",
                          "example": "2024-04-22T18:55:28.456076Z"
                        },
                        "context": {
                          "type": "object",
                          "description": "Additional context for the problem",
                          "additionalProperties": true,
                          "example": {
                            "name": "Rick Sanchez"
                          }
                        }
                      }
                    }
                  ],
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "An issue detected during input validation.\n",
                        "allOf": [
                          {
                            "type": "object",
                            "allOf": [
                              {
                                "description": "A Problem Details object (RFC 9457).\n\nAdditional properties specific to the problem type may be present.\n",
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "An absolute URI that identifies the problem type",
                                    "default": "about:blank"
                                  },
                                  "href": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "An absolute URI that, when dereferenced, provides human-readable documentation for the problem type (e.g. using HTML)."
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "A short summary of the problem type. Written in English and readable for engineers (usually not suited for non technical stakeholders and not localized).",
                                    "example": "Service Unavailable"
                                  },
                                  "status": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                                    "minimum": 400,
                                    "maximum": 600,
                                    "exclusiveMaximum": true,
                                    "example": 503
                                  },
                                  "detail": {
                                    "type": "string",
                                    "description": "A human-readable explanation specific to this occurrence of the problem"
                                  },
                                  "instance": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."
                                  }
                                },
                                "example": {
                                  "type": "urn:problem-type:exampleOrganization:exampleProblem",
                                  "href": "https://www.belgif.be/specification/rest/api-guide/#standardized-problem-types",
                                  "title": "Description of the type of problem that occurred",
                                  "status": 400,
                                  "detail": "Description of specific occurrence of the problem",
                                  "instance": "urn:uuid:123e4567-e89b-12d3-a456-426614174000"
                                }
                              }
                            ],
                            "properties": {
                              "subsystem": {
                                "type": "string",
                                "description": "The subsystem that generated the problem",
                                "example": "api"
                              },
                              "time": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The time the problem occurred, formatted as RFC-3339",
                                "example": "2024-04-22T18:55:28.456076Z"
                              },
                              "requestId": {
                                "type": "string",
                                "description": "A unique identifier for the request, useful for debugging",
                                "example": "89eb1ffb-2a54-4105-aaae-7bf990f1aa69#87715"
                              },
                              "causes": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "description": "A brief description of something which caused the problem",
                                  "example": "database connection failed"
                                },
                                "example": [
                                  "database connection failed",
                                  "database query failed",
                                  "unable to fetch user"
                                ],
                                "description": "A list of problems that caused this problem. This can be used to represent multiple\nroot causes. There is no guaranteed ordering of the causes.\n"
                              },
                              "remedy": {
                                "type": "string",
                                "description": "A brief description of how to resolve the problem",
                                "example": "Shorten your input to be under 100 characters"
                              },
                              "supportEmail": {
                                "type": "string",
                                "format": "email",
                                "description": "An email address to contact for support",
                                "example": "support@withampersand.com"
                              },
                              "supportPhone": {
                                "type": "string",
                                "description": "A phone number to contact for support",
                                "example": "+1-555-555-5555"
                              },
                              "supportUrl": {
                                "type": "string",
                                "format": "uri",
                                "description": "A URL to contact for support",
                                "example": "https://withampersand.com/support"
                              },
                              "retryable": {
                                "type": "boolean",
                                "description": "Whether the request can be retried",
                                "example": false
                              },
                              "retryAfter": {
                                "type": "string",
                                "format": "date-time",
                                "description": "A timestamp after which the request can be retried, formatted as RFC-3339",
                                "example": "2024-04-22T18:55:28.456076Z"
                              },
                              "context": {
                                "type": "object",
                                "description": "Additional context for the problem",
                                "additionalProperties": true,
                                "example": {
                                  "name": "Rick Sanchez"
                                }
                              }
                            }
                          }
                        ],
                        "properties": {
                          "in": {
                            "type": "string",
                            "description": "The location of the invalid input",
                            "enum": [
                              "body",
                              "header",
                              "path",
                              "query"
                            ]
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the invalid input"
                          },
                          "value": {
                            "description": "The value of the erroneous input"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "type": "about:blank",
                    "title": "Bad Request",
                    "status": 400,
                    "detail": "The input message is incorrect",
                    "instance": "123456-1234-1235-4567489798",
                    "issues": [
                      {
                        "type": "about:blank",
                        "detail": "exampleNumericProperty should be numeric",
                        "in": "path",
                        "name": "exampleNumericProperty",
                        "value": "abc"
                      },
                      {
                        "type": "about:blank",
                        "title": "Input isn't valid with respect to schema",
                        "detail": "examplePropertyWithPattern a2345678901 doesn't match pattern '^\\d{11}$'",
                        "in": "body",
                        "name": "items[0].examplePropertyWithPattern",
                        "value": "a2345678901"
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "description": "A Problem Details object (RFC 9457).\n\nAdditional properties specific to the problem type may be present.\n",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "format": "uri",
                          "description": "An absolute URI that identifies the problem type",
                          "default": "about:blank"
                        },
                        "href": {
                          "type": "string",
                          "format": "uri",
                          "description": "An absolute URI that, when dereferenced, provides human-readable documentation for the problem type (e.g. using HTML)."
                        },
                        "title": {
                          "type": "string",
                          "description": "A short summary of the problem type. Written in English and readable for engineers (usually not suited for non technical stakeholders and not localized).",
                          "example": "Service Unavailable"
                        },
                        "status": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                          "minimum": 400,
                          "maximum": 600,
                          "exclusiveMaximum": true,
                          "example": 503
                        },
                        "detail": {
                          "type": "string",
                          "description": "A human-readable explanation specific to this occurrence of the problem"
                        },
                        "instance": {
                          "type": "string",
                          "format": "uri",
                          "description": "An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."
                        }
                      },
                      "example": {
                        "type": "urn:problem-type:exampleOrganization:exampleProblem",
                        "href": "https://www.belgif.be/specification/rest/api-guide/#standardized-problem-types",
                        "title": "Description of the type of problem that occurred",
                        "status": 400,
                        "detail": "Description of specific occurrence of the problem",
                        "instance": "urn:uuid:123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  ],
                  "properties": {
                    "subsystem": {
                      "type": "string",
                      "description": "The subsystem that generated the problem",
                      "example": "api"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The time the problem occurred, formatted as RFC-3339",
                      "example": "2024-04-22T18:55:28.456076Z"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "A unique identifier for the request, useful for debugging",
                      "example": "89eb1ffb-2a54-4105-aaae-7bf990f1aa69#87715"
                    },
                    "causes": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "A brief description of something which caused the problem",
                        "example": "database connection failed"
                      },
                      "example": [
                        "database connection failed",
                        "database query failed",
                        "unable to fetch user"
                      ],
                      "description": "A list of problems that caused this problem. This can be used to represent multiple\nroot causes. There is no guaranteed ordering of the causes.\n"
                    },
                    "remedy": {
                      "type": "string",
                      "description": "A brief description of how to resolve the problem",
                      "example": "Shorten your input to be under 100 characters"
                    },
                    "supportEmail": {
                      "type": "string",
                      "format": "email",
                      "description": "An email address to contact for support",
                      "example": "support@withampersand.com"
                    },
                    "supportPhone": {
                      "type": "string",
                      "description": "A phone number to contact for support",
                      "example": "+1-555-555-5555"
                    },
                    "supportUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "A URL to contact for support",
                      "example": "https://withampersand.com/support"
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether the request can be retried",
                      "example": false
                    },
                    "retryAfter": {
                      "type": "string",
                      "format": "date-time",
                      "description": "A timestamp after which the request can be retried, formatted as RFC-3339",
                      "example": "2024-04-22T18:55:28.456076Z"
                    },
                    "context": {
                      "type": "object",
                      "description": "Additional context for the problem",
                      "additionalProperties": true,
                      "example": {
                        "name": "Rick Sanchez"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "connectOAuthParams"
      }
    },
    "/projects": {
      "get": {
        "summary": "List all projects that the API key or user credential has access to",
        "operationId": "listProjects",
        "tags": [
          "Project"
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "required": [
                      "appName",
                      "createTime",
                      "id",
                      "name"
                    ],
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The project ID.",
                        "example": "project-id-123"
                      },
                      "name": {
                        "type": "string",
                        "description": "The project name.",
                        "example": "mailmonkey-staging"
                      },
                      "appName": {
                        "type": "string",
                        "description": "The name of the application, which is displayed to end users.",
                        "example": "MailMonkey"
                      },
                      "orgId": {
                        "type": "string",
                        "description": "The organization ID that this project belongs to."
                      },
                      "createTime": {
                        "type": "string",
                        "description": "The time the project was created.",
                        "format": "date-time"
                      },
                      "updateTime": {
                        "type": "string",
                        "description": "The time the project was updated.",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "description": "A Problem Details object (RFC 9457).\n\nAdditional properties specific to the problem type may be present.\n",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "format": "uri",
                          "description": "An absolute URI that identifies the problem type",
                          "default": "about:blank"
                        },
                        "href": {
                          "type": "string",
                          "format": "uri",
                          "description": "An absolute URI that, when dereferenced, provides human-readable documentation for the problem type (e.g. using HTML)."
                        },
                        "title": {
                          "type": "string",
                          "description": "A short summary of the problem type. Written in English and readable for engineers (usually not suited for non technical stakeholders and not localized).",
                          "example": "Service Unavailable"
                        },
                        "status": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                          "minimum": 400,
                          "maximum": 600,
                          "exclusiveMaximum": true,
                          "example": 503
                        },
                        "detail": {
                          "type": "string",
                          "description": "A human-readable explanation specific to this occurrence of the problem"
                        },
                        "instance": {
                          "type": "string",
                          "format": "uri",
                          "description": "An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."
                        }
                      },
                      "example": {
                        "type": "urn:problem-type:exampleOrganization:exampleProblem",
                        "href": "https://www.belgif.be/specification/rest/api-guide/#standardized-problem-types",
                        "title": "Description of the type of problem that occurred",
                        "status": 400,
                        "detail": "Description of specific occurrence of the problem",
                        "instance": "urn:uuid:123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  ],
                  "properties": {
                    "subsystem": {
                      "type": "string",
                      "description": "The subsystem that generated the problem",
                      "example": "api"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The time the problem occurred, formatted as RFC-3339",
                      "example": "2024-04-22T18:55:28.456076Z"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "A unique identifier for the request, useful for debugging",
                      "example": "89eb1ffb-2a54-4105-aaae-7bf990f1aa69#87715"
                    },
                    "causes": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "A brief description of something which caused the problem",
                        "example": "database connection failed"
                      },
                      "example": [
                        "database connection failed",
                        "database query failed",
                        "unable to fetch user"
                      ],
                      "description": "A list of problems that caused this problem. This can be used to represent multiple\nroot causes. There is no guaranteed ordering of the causes.\n"
                    },
                    "remedy": {
                      "type": "string",
                      "description": "A brief description of how to resolve the problem",
                      "example": "Shorten your input to be under 100 characters"
                    },
                    "supportEmail": {
                      "type": "string",
                      "format": "email",
                      "description": "An email address to contact for support",
                      "example": "support@withampersand.com"
                    },
                    "supportPhone": {
                      "type": "string",
                      "description": "A phone number to contact for support",
                      "example": "+1-555-555-5555"
                    },
                    "supportUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "A URL to contact for support",
                      "example": "https://withampersand.com/support"
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether the request can be retried",
                      "example": false
                    },
                    "retryAfter": {
                      "type": "string",
                      "format": "date-time",
                      "description": "A timestamp after which the request can be retried, formatted as RFC-3339",
                      "example": "2024-04-22T18:55:28.456076Z"
                    },
                    "context": {
                      "type": "object",
                      "description": "Additional context for the problem",
                      "additionalProperties": true,
                      "example": {
                        "name": "Rick Sanchez"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new project",
        "operationId": "createProject",
        "tags": [
          "Project"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "appName",
                  "name",
                  "orgId"
                ],
                "type": "object",
                "properties": {
                  "appName": {
                    "type": "string",
                    "description": "The app name.",
                    "example": "MailMonkey"
                  },
                  "name": {
                    "type": "string",
                    "description": "The project name. Must be alphanumerics and hyphens only. Project names will be save in lowercase.",
                    "example": "mailmonkey-staging"
                  },
                  "orgId": {
                    "type": "string",
                    "description": "The organization ID."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The newly created project",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "appName",
                    "createTime",
                    "id",
                    "name"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The project ID.",
                      "example": "project-id-123"
                    },
                    "name": {
                      "type": "string",
                      "description": "The project name.",
                      "example": "mailmonkey-staging"
                    },
                    "appName": {
                      "type": "string",
                      "description": "The name of the application, which is displayed to end users.",
                      "example": "MailMonkey"
                    },
                    "orgId": {
                      "type": "string",
                      "description": "The organization ID that this project belongs to."
                    },
                    "createTime": {
                      "type": "string",
                      "description": "The time the project was created.",
                      "format": "date-time"
                    },
                    "updateTime": {
                      "type": "string",
                      "description": "The time the project was updated.",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "allOf": [
                        {
                          "description": "A Problem Details object (RFC 9457).\n\nAdditional properties specific to the problem type may be present.\n",
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "format": "uri",
                              "description": "An absolute URI that identifies the problem type",
                              "default": "about:blank"
                            },
                            "href": {
                              "type": "string",
                              "format": "uri",
                              "description": "An absolute URI that, when dereferenced, provides human-readable documentation for the problem type (e.g. using HTML)."
                            },
                            "title": {
                              "type": "string",
                              "description": "A short summary of the problem type. Written in English and readable for engineers (usually not suited for non technical stakeholders and not localized).",
                              "example": "Service Unavailable"
                            },
                            "status": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                              "minimum": 400,
                              "maximum": 600,
                              "exclusiveMaximum": true,
                              "example": 503
                            },
                            "detail": {
                              "type": "string",
                              "description": "A human-readable explanation specific to this occurrence of the problem"
                            },
                            "instance": {
                              "type": "string",
                              "format": "uri",
                              "description": "An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."
                            }
                          },
                          "example": {
                            "type": "urn:problem-type:exampleOrganization:exampleProblem",
                            "href": "https://www.belgif.be/specification/rest/api-guide/#standardized-problem-types",
                            "title": "Description of the type of problem that occurred",
                            "status": 400,
                            "detail": "Description of specific occurrence of the problem",
                            "instance": "urn:uuid:123e4567-e89b-12d3-a456-426614174000"
                          }
                        }
                      ],
                      "properties": {
                        "subsystem": {
                          "type": "string",
                          "description": "The subsystem that generated the problem",
                          "example": "api"
                        },
                        "time": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The time the problem occurred, formatted as RFC-3339",
                          "example": "2024-04-22T18:55:28.456076Z"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "A unique identifier for the request, useful for debugging",
                          "example": "89eb1ffb-2a54-4105-aaae-7bf990f1aa69#87715"
                        },
                        "causes": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "A brief description of something which caused the problem",
                            "example": "database connection failed"
                          },
                          "example": [
                            "database connection failed",
                            "database query failed",
                            "unable to fetch user"
                          ],
                          "description": "A list of problems that caused this problem. This can be used to represent multiple\nroot causes. There is no guaranteed ordering of the causes.\n"
                        },
                        "remedy": {
                          "type": "string",
                          "description": "A brief description of how to resolve the problem",
                          "example": "Shorten your input to be under 100 characters"
                        },
                        "supportEmail": {
                          "type": "string",
                          "format": "email",
                          "description": "An email address to contact for support",
                          "example": "support@withampersand.com"
                        },
                        "supportPhone": {
                          "type": "string",
                          "description": "A phone number to contact for support",
                          "example": "+1-555-555-5555"
                        },
                        "supportUrl": {
                          "type": "string",
                          "format": "uri",
                          "description": "A URL to contact for support",
                          "example": "https://withampersand.com/support"
                        },
                        "retryable": {
                          "type": "boolean",
                          "description": "Whether the request can be retried",
                          "example": false
                        },
                        "retryAfter": {
                          "type": "string",
                          "format": "date-time",
                          "description": "A timestamp after which the request can be retried, formatted as RFC-3339",
                          "example": "2024-04-22T18:55:28.456076Z"
                        },
                        "context": {
                          "type": "object",
                          "description": "Additional context for the problem",
                          "additionalProperties": true,
                          "example": {
                            "name": "Rick Sanchez"
                          }
                        }
                      }
                    }
                  ],
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "An issue detected during input validation.\n",
                        "allOf": [
                          {
                            "type": "object",
                            "allOf": [
                              {
                                "description": "A Problem Details object (RFC 9457).\n\nAdditional properties specific to the problem type may be present.\n",
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "An absolute URI that identifies the problem type",
                                    "default": "about:blank"
                                  },
                                  "href": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "An absolute URI that, when dereferenced, provides human-readable documentation for the problem type (e.g. using HTML)."
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "A short summary of the problem type. Written in English and readable for engineers (usually not suited for non technical stakeholders and not localized).",
                                    "example": "Service Unavailable"
                                  },
                                  "status": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                                    "minimum": 400,
                                    "maximum": 600,
                                    "exclusiveMaximum": true,
                                    "example": 503
                                  },
                                  "detail": {
                                    "type": "string",
                                    "description": "A human-readable explanation specific to this occurrence of the problem"
                                  },
                                  "instance": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."
                                  }
                                },
                                "example": {
                                  "type": "urn:problem-type:exampleOrganization:exampleProblem",
                                  "href": "https://www.belgif.be/specification/rest/api-guide/#standardized-problem-types",
                                  "title": "Description of the type of problem that occurred",
                                  "status": 400,
                                  "detail": "Description of specific occurrence of the problem",
                                  "instance": "urn:uuid:123e4567-e89b-12d3-a456-426614174000"
                                }
                              }
                            ],
                            "properties": {
                              "subsystem": {
                                "type": "string",
                                "description": "The subsystem that generated the problem",
                                "example": "api"
                              },
                              "time": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The time the problem occurred, formatted as RFC-3339",
                                "example": "2024-04-22T18:55:28.456076Z"
                              },
                              "requestId": {
                                "type": "string",
                                "description": "A unique identifier for the request, useful for debugging",
                                "example": "89eb1ffb-2a54-4105-aaae-7bf990f1aa69#87715"
                              },
                              "causes": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "description": "A brief description of something which caused the problem",
                                  "example": "database connection failed"
                                },
                                "example": [
                                  "database connection failed",
                                  "database query failed",
                                  "unable to fetch user"
                                ],
                                "description": "A list of problems that caused this problem. This can be used to represent multiple\nroot causes. There is no guaranteed ordering of the causes.\n"
                              },
                              "remedy": {
                                "type": "string",
                                "description": "A brief description of how to resolve the problem",
                                "example": "Shorten your input to be under 100 characters"
                              },
                              "supportEmail": {
                                "type": "string",
                                "format": "email",
                                "description": "An email address to contact for support",
                                "example": "support@withampersand.com"
                              },
                              "supportPhone": {
                                "type": "string",
                                "description": "A phone number to contact for support",
                                "example": "+1-555-555-5555"
                              },
                              "supportUrl": {
                                "type": "string",
                                "format": "uri",
                                "description": "A URL to contact for support",
                                "example": "https://withampersand.com/support"
                              },
                              "retryable": {
                                "type": "boolean",
                                "description": "Whether the request can be retried",
                                "example": false
                              },
                              "retryAfter": {
                                "type": "string",
                                "format": "date-time",
                                "description": "A timestamp after which the request can be retried, formatted as RFC-3339",
                                "example": "2024-04-22T18:55:28.456076Z"
                              },
                              "context": {
                                "type": "object",
                                "description": "Additional context for the problem",
                                "additionalProperties": true,
                                "example": {
                                  "name": "Rick Sanchez"
                                }
                              }
                            }
                          }
                        ],
                        "properties": {
                          "in": {
                            "type": "string",
                            "description": "The location of the invalid input",
                            "enum": [
                              "body",
                              "header",
                              "path",
                              "query"
                            ]
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the invalid input"
                          },
                          "value": {
                            "description": "The value of the erroneous input"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "type": "about:blank",
                    "title": "Bad Request",
                    "status": 400,
                    "detail": "The input message is incorrect",
                    "instance": "123456-1234-1235-4567489798",
                    "issues": [
                      {
                        "type": "about:blank",
                        "detail": "exampleNumericProperty should be numeric",
                        "in": "path",
                        "name": "exampleNumericProperty",
                        "value": "abc"
                      },
                      {
                        "type": "about:blank",
                        "title": "Input isn't valid with respect to schema",
                        "detail": "examplePropertyWithPattern a2345678901 doesn't match pattern '^\\d{11}$'",
                        "in": "body",
                        "name": "items[0].examplePropertyWithPattern",
                        "value": "a2345678901"
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "description": "A Problem Details object (RFC 9457).\n\nAdditional properties specific to the problem type may be present.\n",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "format": "uri",
                          "description": "An absolute URI that identifies the problem type",
                          "default": "about:blank"
                        },
                        "href": {
                          "type": "string",
                          "format": "uri",
                          "description": "An absolute URI that, when dereferenced, provides human-readable documentation for the problem type (e.g. using HTML)."
                        },
                        "title": {
                          "type": "string",
                          "description": "A short summary of the problem type. Written in English and readable for engineers (usually not suited for non technical stakeholders and not localized).",
                          "example": "Service Unavailable"
                        },
                        "status": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                          "minimum": 400,
                          "maximum": 600,
                          "exclusiveMaximum": true,
                          "example": 503
                        },
                        "detail": {
                          "type": "string",
                          "description": "A human-readable explanation specific to this occurrence of the problem"
                        },
                        "instance": {
                          "type": "string",
                          "format": "uri",
                          "description": "An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."
                        }
                      },
                      "example": {
                        "type": "urn:problem-type:exampleOrganization:exampleProblem",
                        "href": "https://www.belgif.be/specification/rest/api-guide/#standardized-problem-types",
                        "title": "Description of the type of problem that occurred",
                        "status": 400,
                        "detail": "Description of specific occurrence of the problem",
                        "instance": "urn:uuid:123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  ],
                  "properties": {
                    "subsystem": {
                      "type": "string",
                      "description": "The subsystem that generated the problem",
                      "example": "api"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The time the problem occurred, formatted as RFC-3339",
                      "example": "2024-04-22T18:55:28.456076Z"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "A unique identifier for the request, useful for debugging",
                      "example": "89eb1ffb-2a54-4105-aaae-7bf990f1aa69#87715"
                    },
                    "causes": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "A brief description of something which caused the problem",
                        "example": "database connection failed"
                      },
                      "example": [
                        "database connection failed",
                        "database query failed",
                        "unable to fetch user"
                      ],
                      "description": "A list of problems that caused this problem. This can be used to represent multiple\nroot causes. There is no guaranteed ordering of the causes.\n"
                    },
                    "remedy": {
                      "type": "string",
                      "description": "A brief description of how to resolve the problem",
                      "example": "Shorten your input to be under 100 characters"
                    },
                    "supportEmail": {
                      "type": "string",
                      "format": "email",
                      "description": "An email address to contact for support",
                      "example": "support@withampersand.com"
                    },
                    "supportPhone": {
                      "type": "string",
                      "description": "A phone number to contact for support",
                      "example": "+1-555-555-5555"
                    },
                    "supportUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "A URL to contact for support",
                      "example": "https://withampersand.com/support"
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether the request can be retried",
                      "example": false
                    },
                    "retryAfter": {
                      "type": "string",
                      "format": "date-time",
                      "description": "A timestamp after which the request can be retried, formatted as RFC-3339",
                      "example": "2024-04-22T18:55:28.456076Z"
                    },
                    "context": {
                      "type": "object",
                      "description": "Additional context for the problem",
                      "additionalProperties": true,
                      "example": {
                        "name": "Rick Sanchez"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "project"
      }
    },
    "/projects/{projectIdOrName}": {
      "get": {
        "summary": "Get a project",
        "operationId": "getProject",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "appName",
                    "createTime",
                    "id",
                    "name"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The project ID.",
                      "example": "project-id-123"
                    },
                    "name": {
                      "type": "string",
                      "description": "The project name.",
                      "example": "mailmonkey-staging"
                    },
                    "appName": {
                      "type": "string",
                      "description": "The name of the application, which is displayed to end users.",
                      "example": "MailMonkey"
                    },
                    "orgId": {
                      "type": "string",
                      "description": "The organization ID that this project belongs to."
                    },
                    "createTime": {
                      "type": "string",
                      "description": "The time the project was created.",
                      "format": "date-time"
                    },
                    "updateTime": {
                      "type": "string",
                      "description": "The time the project was updated.",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "allOf": [
                        {
                          "description": "A Problem Details object (RFC 9457).\n\nAdditional properties specific to the problem type may be present.\n",
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "format": "uri",
                              "description": "An absolute URI that identifies the problem type",
                              "default": "about:blank"
                            },
                            "href": {
                              "type": "string",
                              "format": "uri",
                              "description": "An absolute URI that, when dereferenced, provides human-readable documentation for the problem type (e.g. using HTML)."
                            },
                            "title": {
                              "type": "string",
                              "description": "A short summary of the problem type. Written in English and readable for engineers (usually not suited for non technical stakeholders and not localized).",
                              "example": "Service Unavailable"
                            },
                            "status": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                              "minimum": 400,
                              "maximum": 600,
                              "exclusiveMaximum": true,
                              "example": 503
                            },
                            "detail": {
                              "type": "string",
                              "description": "A human-readable explanation specific to this occurrence of the problem"
                            },
                            "instance": {
                              "type": "string",
                              "format": "uri",
                              "description": "An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."
                            }
                          },
                          "example": {
                            "type": "urn:problem-type:exampleOrganization:exampleProblem",
                            "href": "https://www.belgif.be/specification/rest/api-guide/#standardized-problem-types",
                            "title": "Description of the type of problem that occurred",
                            "status": 400,
                            "detail": "Description of specific occurrence of the problem",
                            "instance": "urn:uuid:123e4567-e89b-12d3-a456-426614174000"
                          }
                        }
                      ],
                      "properties": {
                        "subsystem": {
                          "type": "string",
                          "description": "The subsystem that generated the problem",
                          "example": "api"
                        },
                        "time": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The time the problem occurred, formatted as RFC-3339",
                          "example": "2024-04-22T18:55:28.456076Z"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "A unique identifier for the request, useful for debugging",
                          "example": "89eb1ffb-2a54-4105-aaae-7bf990f1aa69#87715"
                        },
                        "causes": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "A brief description of something which caused the problem",
                            "example": "database connection failed"
                          },
                          "example": [
                            "database connection failed",
                            "database query failed",
                            "unable to fetch user"
                          ],
                          "description": "A list of problems that caused this problem. This can be used to represent multiple\nroot causes. There is no guaranteed ordering of the causes.\n"
                        },
                        "remedy": {
                          "type": "string",
                          "description": "A brief description of how to resolve the problem",
                          "example": "Shorten your input to be under 100 characters"
                        },
                        "supportEmail": {
                          "type": "string",
                          "format": "email",
                          "description": "An email address to contact for support",
                          "example": "support@withampersand.com"
                        },
                        "supportPhone": {
                          "type": "string",
                          "description": "A phone number to contact for support",
                          "example": "+1-555-555-5555"
                        },
                        "supportUrl": {
                          "type": "string",
                          "format": "uri",
                          "description": "A URL to contact for support",
                          "example": "https://withampersand.com/support"
                        },
                        "retryable": {
                          "type": "boolean",
                          "description": "Whether the request can be retried",
                          "example": false
                        },
                        "retryAfter": {
                          "type": "string",
                          "format": "date-time",
                          "description": "A timestamp after which the request can be retried, formatted as RFC-3339",
                          "example": "2024-04-22T18:55:28.456076Z"
                        },
                        "context": {
                          "type": "object",
                          "description": "Additional context for the problem",
                          "additionalProperties": true,
                          "example": {
                            "name": "Rick Sanchez"
                          }
                        }
                      }
                    }
                  ],
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "An issue detected during input validation.\n",
                        "allOf": [
                          {
                            "type": "object",
                            "allOf": [
                              {
                                "description": "A Problem Details object (RFC 9457).\n\nAdditional properties specific to the problem type may be present.\n",
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "An absolute URI that identifies the problem type",
                                    "default": "about:blank"
                                  },
                                  "href": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "An absolute URI that, when dereferenced, provides human-readable documentation for the problem type (e.g. using HTML)."
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "A short summary of the problem type. Written in English and readable for engineers (usually not suited for non technical stakeholders and not localized).",
                                    "example": "Service Unavailable"
                                  },
                                  "status": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                                    "minimum": 400,
                                    "maximum": 600,
                                    "exclusiveMaximum": true,
                                    "example": 503
                                  },
                                  "detail": {
                                    "type": "string",
                                    "description": "A human-readable explanation specific to this occurrence of the problem"
                                  },
                                  "instance": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."
                                  }
                                },
                                "example": {
                                  "type": "urn:problem-type:exampleOrganization:exampleProblem",
                                  "href": "https://www.belgif.be/specification/rest/api-guide/#standardized-problem-types",
                                  "title": "Description of the type of problem that occurred",
                                  "status": 400,
                                  "detail": "Description of specific occurrence of the problem",
                                  "instance": "urn:uuid:123e4567-e89b-12d3-a456-426614174000"
                                }
                              }
                            ],
                            "properties": {
                              "subsystem": {
                                "type": "string",
                                "description": "The subsystem that generated the problem",
                                "example": "api"
                              },
                              "time": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The time the problem occurred, formatted as RFC-3339",
                                "example": "2024-04-22T18:55:28.456076Z"
                              },
                              "requestId": {
                                "type": "string",
                                "description": "A unique identifier for the request, useful for debugging",
                                "example": "89eb1ffb-2a54-4105-aaae-7bf990f1aa69#87715"
                              },
                              "causes": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "description": "A brief description of something which caused the problem",
                                  "example": "database connection failed"
                                },
                                "example": [
                                  "database connection failed",
                                  "database query failed",
                                  "unable to fetch user"
                                ],
                                "description": "A list of problems that caused this problem. This can be used to represent multiple\nroot causes. There is no guaranteed ordering of the causes.\n"
                              },
                              "remedy": {
                                "type": "string",
                                "description": "A brief description of how to resolve the problem",
                                "example": "Shorten your input to be under 100 characters"
                              },
                              "supportEmail": {
                                "type": "string",
                                "format": "email",
                                "description": "An email address to contact for support",
                                "example": "support@withampersand.com"
                              },
                              "supportPhone": {
                                "type": "string",
                                "description": "A phone number to contact for support",
                                "example": "+1-555-555-5555"
                              },
                              "supportUrl": {
                                "type": "string",
                                "format": "uri",
                                "description": "A URL to contact for support",
                                "example": "https://withampersand.com/support"
                              },
                              "retryable": {
                                "type": "boolean",
                                "description": "Whether the request can be retried",
                                "example": false
                              },
                              "retryAfter": {
                                "type": "string",
                                "format": "date-time",
                                "description": "A timestamp after which the request can be retried, formatted as RFC-3339",
                                "example": "2024-04-22T18:55:28.456076Z"
                              },
                              "context": {
                                "type": "object",
                                "description": "Additional context for the problem",
                                "additionalProperties": true,
                                "example": {
                                  "name": "Rick Sanchez"
                                }
                              }
                            }
                          }
                        ],
                        "properties": {
                          "in": {
                            "type": "string",
                            "description": "The location of the invalid input",
                            "enum": [
                              "body",
                              "header",
                              "path",
                              "query"
                            ]
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the invalid input"
                          },
                          "value": {
                            "description": "The value of the erroneous input"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "type": "about:blank",
                    "title": "Bad Request",
                    "status": 400,
                    "detail": "The input message is incorrect",
                    "instance": "123456-1234-1235-4567489798",
                    "issues": [
                      {
                        "type": "about:blank",
                        "detail": "exampleNumericProperty should be numeric",
                        "in": "path",
                        "name": "exampleNumericProperty",
                        "value": "abc"
                      },
                      {
                        "type": "about:blank",
                        "title": "Input isn't valid with respect to schema",
                        "detail": "examplePropertyWithPattern a2345678901 doesn't match pattern '^\\d{11}$'",
                        "in": "body",
                        "name": "items[0].examplePropertyWithPattern",
                        "value": "a2345678901"
                      }
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "description": "A Problem Details object (RFC 9457).\n\nAdditional properties specific to the problem type may be present.\n",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "format": "uri",
                          "description": "An absolute URI that identifies the problem type",
                          "default": "about:blank"
                        },
                        "href": {
                          "type": "string",
                          "format": "uri",
                          "description": "An absolute URI that, when dereferenced, provides human-readable documentation for the problem type (e.g. using HTML)."
                        },
                        "title": {
                          "type": "string",
                          "description": "A short summary of the problem type. Written in English and readable for engineers (usually not suited for non technical stakeholders and not localized).",
                          "example": "Service Unavailable"
                        },
                        "status": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                          "minimum": 400,
                          "maximum": 600,
                          "exclusiveMaximum": true,
                          "example": 503
                        },
                        "detail": {
                          "type": "string",
                          "description": "A human-readable explanation specific to this occurrence of the problem"
                        },
                        "instance": {
                          "type": "string",
                          "format": "uri",
                          "description": "An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."
                        }
                      },
                      "example": {
                        "type": "urn:problem-type:exampleOrganization:exampleProblem",
                        "href": "https://www.belgif.be/specification/rest/api-guide/#standardized-problem-types",
                        "title": "Description of the type of problem that occurred",
                        "status": 400,
                        "detail": "Description of specific occurrence of the problem",
                        "instance": "urn:uuid:123e4567-e89b-12d3-a456-426614174000"
                      }
                    }
                  ],
                  "properties": {
                    "subsystem": {
                      "type": "string",
                      "description": "The subsystem that generated the problem",
                      "example": "api"
                    },
                    "time": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The time the problem occurred, formatted as RFC-3339",
                      "example": "2024-04-22T18:55:28.456076Z"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "A unique identifier for the request, useful for debugging",
                      "example": "89eb1ffb-2a54-4105-aaae-7bf990f1aa69#87715"
                    },
                    "causes": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "A brief description of something which caused the problem",
                        "example": "database connection failed"
                      },
                      "example": [
                        "database connection failed",
                        "database query failed",
                        "unable to fetch user"
                      ],
                      "description": "A list of problems that caused this problem. This can be used to represent multiple\nroot causes. There is no guaranteed ordering of the causes.\n"
                    },
                    "remedy": {
                      "type": "string",
                      "description": "A brief description of how to resolve the problem",
                      "example": "Shorten your input to be under 100 characters"
                    },
                    "supportEmail": {
                      "type": "string",
                      "format": "email",
                      "description": "An email address to contact for support",
                      "example": "support@withampersand.com"
                    },
                    "supportPhone": {
                      "type": "string",
                      "description": "A phone number to contact for support",
                      "example": "+1-555-555-5555"
                    },
                    "supportUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "A URL to contact for support",
                      "example": "https://withampersand.com/support"
                    },
                    "retryable": {
                      "type": "boolean",
                      "description": "Whether the request can be retried",
                      "example": false
                    },
                    "retryAfter": {
                      "type": "string",
                      "format": "date-time",
                      "description": "A timestamp after which the request can be retried, formatted as RFC-3339",
                      "example": "2024-04-22T18:55:28.456076Z"
                    },
                    "context": {
                      "type": "object",
                      "description": "Additional context for the problem",
                      "additionalProperties": true,
                      "example": {
                        "name": "Rick Sanchez"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a project",
        "operationId": "deleteProject",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "projectIdOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "allOf": [
                    {
                      "type": "object",
                      "allOf": [
                        {
                          "description": "A Problem Details object (RFC 9457).\n\nAdditional properties specific to the problem type may be present.\n",
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "format": "uri",
                              "description": "An absolute URI that identifies the problem type",
                              "default": "about:blank"
                            },
                            "href": {
                              "type": "string",
                              "format": "uri",
                              "description": "An absolute URI that, when dereferenced, provides human-readable documentation for the problem type (e.g. using HTML)."
                            },
                            "title": {
                              "type": "string",
                              "description": "A short summary of the problem type. Written in English and readable for engineers (usually not suited for non technical stakeholders and not localized).",
                              "example": "Service Unavailable"
                            },
                            "status": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                              "minimum": 400,
                              "maximum": 600,
                              "exclusiveMaximum": true,
                              "example": 503
                            },
                            "detail": {
                              "type": "string",
                              "description": "A human-readable explanation specific to this occurrence of the problem"
                            },
                            "instance": {
                              "type": "string",
                              "format": "uri",
                              "description": "An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."
                            }
                          },
                          "example": {
                            "type": "urn:problem-type:exampleOrganization:exampleProblem",
                            "href": "https://www.belgif.be/specification/rest/api-guide/#standardized-problem-types",
                            "title": "Description of the type of problem that occurred",
                            "status": 400,
                            "detail": "Description of specific occurrence of the problem",
                            "instance": "urn:uuid:123e4567-e89b-12d3-a456-426614174000"
                          }
                        }
                      ],
                      "properties": {
                        "subsystem": {
                          "type": "string",
                          "description": "The subsystem that generated the problem",
                          "example": "api"
                        },
                        "time": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The time the problem occurred, formatted as RFC-3339",
                          "example": "2024-04-22T18:55:28.456076Z"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "A unique identifier for the request, useful for debugging",
                          "example": "89eb1ffb-2a54-4105-aaae-7bf990f1aa69#87715"
                        },
                        "causes": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "A brief description of something which caused the problem",
                            "example": "database connection failed"
                          },
                          "example": [
                            "database connection failed",
                            "database query failed",
                            "unable to fetch user"
                          ],
                          "description": "A list of problems that caused this problem. This can be used to represent multiple\nroot causes. There is no guaranteed ordering of the causes.\n"
                        },
                        "remedy": {
                          "type": "string",
                          "description": "A brief description of how to resolve the problem",
                          "example": "Shorten your input to be under 100 characters"
                        },
                        "supportEmail": {
                          "type": "string",
                          "format": "email",
                          "description": "An email address to contact for support",
                          "example": "support@withampersand.com"
                        },
                        "supportPhone": {
                          "type": "string",
                          "description": "A phone number to contact for support",
                          "example": "+1-555-555-5555"
                        },
                        "supportUrl": {
                          "type": "string",
                          "format": "uri",
                          "description": "A URL to contact for support",
                          "example": "https://withampersand.com/support"
                        },
                        "retryable": {
                          "type": "boolean",
                          "description": "Whether the request can be retried",
                          "example": false
                        },
                        "retryAfter": {
                          "type": "string",
                          "format": "date-time",
                          "description": "A timestamp after which the request can be retried, formatted as RFC-3339",
                          "example": "2024-04-22T18:55:28.456076Z"
                        },
                        "context": {
                          "type": "object",
                          "description": "Additional context for the problem",
                          "additionalProperties": true,
                          "example": {
                            "name": "Rick Sanchez"
                          }
                        }
                      }
                    }
                  ],
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "An issue detected during input validation.\n",
                        "allOf": [
                          {
                            "type": "object",
                            "allOf": [
                              {
                                "description": "A Problem Details object (RFC 9457).\n\nAdditional properties specific to the problem type may be present.\n",
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "An absolute URI that identifies the problem type",
                                    "default": "about:blank"
                                  },
                                  "href": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "An absolute URI that, when dereferenced, provides human-readable documentation for the problem type (e.g. using HTML)."
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "A short summary of the problem type. Written in English and readable for engineers (usually not suited for non technical stakeholders and not localized).",
                                    "example": "Service Unavailable"
                                  },
                                  "status": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The HTTP status code generated by the origin server for this occurrence of the problem.",
                                    "minimum": 400,
                                    "maximum": 600,
                                    "exclusiveMaximum": true,
                                    "example": 503
                                  },
                                  "detail": {
                                    "type": "string",
                                    "description": "A human-readable explanation specific to this occurrence of the problem"
                                  },
                                  "instance": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced."
                                  }
                                },
                                "example": {
                                  "type": "urn:problem-type:exampleOrganization:exampleProblem",
                                  "href": "https://www.belgif.be/specification/rest/api-guide/#standardized-problem-types",
[...]
